/*html,body{margin: 0px;}*/

button{
	width: 152px;
	height: 40px;
	background-color: lightblue;
	border-radius: 6px;
	border-style: none;
	float: left;
}
button.mouseOn{
	background-color: yellow;
}

.box{
	width: 24px;
	height: 24px;
	border-radius: 2px;
	background-color: lightgray;
	float: left;
	margin-left: 30px;

}
.a{
	background-color: blue;
	transform: translateX(0px);
	transition-property: transform;
	transition-duration: 600ms;
	transition-timing-function: ease;
}
#po{
	transform:translateX(600px);
	background-color: pink;
}