<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta charset="utf-8">
	<title>Drop Down transform</title>
	<link rel="stylesheet" type="text/css" href="css/ResponsiveToast.css">
</head>
<body>
<main>
	<!-- Drop Down Section -->
	<header>
		header
	</header>
</main>
	
	<!-- Button Section -->
<footer>
	<button onclick="action()">Action</button>
	<button onclick="reset()">Reset</button>
</footer>


<script type="text/javascript" src="js/ResponsiveToast.js"></script>
</body>
</html>